@font-face {
    font-family: 'elite-icons';
    src:    url('fonts/elite-icons.eot?dvcf1e');
    src:    url('fonts/elite-icons.eot?dvcf1e#iefix') format('embedded-opentype'),
        url('fonts/elite-icons.ttf?dvcf1e') format('truetype'),
        url('fonts/elite-icons.woff?dvcf1e') format('woff'),
        url('fonts/elite-icons.svg?dvcf1e#elite-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="elite-"], [class*=" elite-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'elite-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.elite-ALavignyDuval:before {
    content: "\e900";
}
.elite-AislingDuval:before {
    content: "\e901";
}
.elite-Alliance_no_ring:before {
    content: "\e902";
}
.elite-Alliance:before {
    content: "\e903";
}
.elite-ArchonDelaine:before {
    content: "\e904";
}
.elite-BankofZaonce:before {
    content: "\e905";
}
.elite-CombatBonds .path1:before {
    content: "\e906";
    color: rgb(0, 0, 0);
}
.elite-CombatBonds .path2:before {
    content: "\e907";
    margin-left: -1.537109375em;
    color: rgb(0, 0, 0);
}
.elite-CombatBonds .path3:before {
    content: "\e908";
    margin-left: -1.537109375em;
    color: rgb(0, 0, 0);
}
.elite-CombatBonds .path4:before {
    content: "\e909";
    margin-left: -1.537109375em;
    color: rgb(0, 0, 0);
}
.elite-CombatBonds .path5:before {
    content: "\e90a";
    margin-left: -1.537109375em;
    color: rgba(0, 0, 0, 0.45);
}
.elite-CombatBonds .path6:before {
    content: "\e90b";
    margin-left: -1.537109375em;
    color: rgba(0, 0, 0, 0.25);
}
.elite-Combat_border:before {
    content: "\e90c";
}
.elite-Combat:before {
    content: "\e90d";
}
.elite-Coriolis_sm:before {
    content: "\e90e";
}
.elite-Coriolis:before {
    content: "\e90f";
}
.elite-Covert_border:before {
    content: "\e910";
}
.elite-Covert:before {
    content: "\e911";
}
.elite-CQC-Championship:before {
    content: "\e912";
}
.elite-DentonPatreus:before {
    content: "\e913";
}
.elite-EdmundMahon:before {
    content: "\e914";
}
.elite-elite-dangerous-clean:before {
    content: "\e915";
}
.elite-Empire:before {
    content: "\e916";
}
.elite-Enemy-flag:before {
    content: "\e917";
}
.elite-Expanding:before {
    content: "\e918";
}
.elite-Federation:before {
    content: "\e919";
}
.elite-FeliciaWinters:before {
    content: "\e91a";
}
.elite-Finance_border:before {
    content: "\e91b";
}
.elite-Finance:before {
    content: "\e91c";
}
.elite-Flag-hologram:before {
    content: "\e91d";
}
.elite-Fortifying .path1:before {
    content: "\e91e";
    color: rgb(0, 0, 0);
}
.elite-Fortifying .path2:before {
    content: "\e91f";
    margin-left: -0.7578125em;
    color: rgba(0, 0, 0, 0.2);
}
.elite-Founder1:before {
    content: "\e920";
}
.elite-Founder2:before {
    content: "\e921";
}
.elite-Friendly-base:before {
    content: "\e922";
}
.elite-Friendly-escort:before {
    content: "\e923";
}
.elite-Friends-galaxy-map:before {
    content: "\e924";
}
.elite-GalNet:before {
    content: "\e925";
}
.elite-LiYongRui:before {
    content: "\e926";
}
.elite-Manticore:before {
    content: "\e927";
}
.elite-Map-galaxy-map:before {
    content: "\e928";
}
.elite-Marker-galaxy-map:before {
    content: "\e929";
}
.elite-Objective:before {
    content: "\e92a";
}
.elite-Ocellus_sm:before {
    content: "\e92b";
}
.elite-Ocellus:before {
    content: "\e92c";
}
.elite-Orbis_sm:before {
    content: "\e92d";
}
.elite-Orbis:before {
    content: "\e92e";
}
.elite-Outpost_sm:before {
    content: "\e92f";
}
.elite-Outpost:before {
    content: "\e930";
}
.elite-Planet1:before {
    content: "\e931";
}
.elite-Planet2:before {
    content: "\e932";
}
.elite-Powerplay-galaxy-map:before {
    content: "\e933";
}
.elite-PranavAntal:before {
    content: "\e934";
}
.elite-rank-1-combat:before {
    content: "\e935";
}
.elite-rank-1-cqc:before {
    content: "\e936";
}
.elite-rank-1-trading:before {
    content: "\e937";
}
.elite-rank-1:before {
    content: "\e938";
}
.elite-rank-2-combat:before {
    content: "\e939";
}
.elite-rank-2-cqc:before {
    content: "\e93a";
}
.elite-rank-2-trading:before {
    content: "\e93b";
}
.elite-rank-2:before {
    content: "\e93c";
}
.elite-rank-3-combat:before {
    content: "\e93d";
}
.elite-rank-3-cqc:before {
    content: "\e93e";
}
.elite-rank-3-trading:before {
    content: "\e93f";
}
.elite-rank-3:before {
    content: "\e940";
}
.elite-rank-4-combat:before {
    content: "\e941";
}
.elite-rank-4-cqc:before {
    content: "\e942";
}
.elite-rank-4-trading:before {
    content: "\e943";
}
.elite-rank-4:before {
    content: "\e944";
}
.elite-rank-5-combat:before {
    content: "\e945";
}
.elite-rank-5-cqc:before {
    content: "\e946";
}
.elite-rank-5-trading:before {
    content: "\e947";
}
.elite-rank-5:before {
    content: "\e948";
}
.elite-rank-6-combat:before {
    content: "\e949";
}
.elite-rank-6-cqc:before {
    content: "\e94a";
}
.elite-rank-6-trading:before {
    content: "\e94b";
}
.elite-rank-6:before {
    content: "\e94c";
}
.elite-rank-7-combat:before {
    content: "\e94d";
}
.elite-rank-7-cqc:before {
    content: "\e94e";
}
.elite-rank-7-trading:before {
    content: "\e94f";
}
.elite-rank-7:before {
    content: "\e950";
}
.elite-rank-8-combat:before {
    content: "\e951";
}
.elite-rank-8-cqc:before {
    content: "\e952";
}
.elite-rank-8-trading:before {
    content: "\e953";
}
.elite-rank-8:before {
    content: "\e954";
}
.elite-rank-9-combat:before {
    content: "\e955";
}
.elite-rank-9-cqc:before {
    content: "\e956";
}
.elite-rank-9-trading:before {
    content: "\e957";
}
.elite-rank-9:before {
    content: "\e958";
}
.elite-Realistic-galaxy-map:before {
    content: "\e959";
}
.elite-remlok:before {
    content: "\e95a";
}
.elite-Selection-galaxy-map:before {
    content: "\e95b";
}
.elite-Shield:before {
    content: "\e95c";
}
.elite-Social_border:before {
    content: "\e95d";
}
.elite-Social:before {
    content: "\e95e";
}
.elite-Speed .path1:before {
    content: "\e95f";
    color: rgb(0, 0, 0);
}
.elite-Speed .path2:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.elite-Speed .path3:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.elite-Speed .path4:before {
    content: "\e962";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.66);
}
.elite-Speed .path5:before {
    content: "\e963";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.66);
}
.elite-Speed .path6:before {
    content: "\e964";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.33);
}
.elite-Speed .path7:before {
    content: "\e965";
    margin-left: -1em;
    color: rgba(0, 0, 0, 0.33);
}
.elite-Stealth:before {
    content: "\e966";
}
.elite-Underthreat:before {
    content: "\e967";
}
.elite-Universal-Cartographics:before {
    content: "\e968";
}
.elite-Weapons:before {
    content: "\e969";
}
.elite-Wings-galaxy-map:before {
    content: "\e96a";
}
.elite-ZacharyHudson:before {
    content: "\e96b";
}
.elite-ZeminaTorval:before {
    content: "\e96c";
}

