@font-face {
	font-family: 'elite-icons';
	src:url('fonts/elite-icons.eot?5rgn3z');
	src:url('fonts/elite-icons.eot?5rgn3z#iefix') format('embedded-opentype'),
		url('fonts/elite-icons.ttf?5rgn3z') format('truetype'),
		url('fonts/elite-icons.woff?5rgn3z') format('woff'),
		url('fonts/elite-icons.svg?5rgn3z#elite-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'elite-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rank-1-trading .path1:before {
	content: "\e900";
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path2:before {
	content: "\e901";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path3:before {
	content: "\e902";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path4:before {
	content: "\e903";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path5:before {
	content: "\e904";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path6:before {
	content: "\e905";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path7:before {
	content: "\e906";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path8:before {
	content: "\e907";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path9:before {
	content: "\e908";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path10:before {
	content: "\e909";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path11:before {
	content: "\e90a";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path12:before {
	content: "\e90b";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path13:before {
	content: "\e90c";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path14:before {
	content: "\e90d";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path15:before {
	content: "\e90e";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path16:before {
	content: "\e90f";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-trading .path17:before {
	content: "\e910";
	margin-left: -1.1728515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path1:before {
	content: "\e911";
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path2:before {
	content: "\e912";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path3:before {
	content: "\e913";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path4:before {
	content: "\e914";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path5:before {
	content: "\e915";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path6:before {
	content: "\e916";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path7:before {
	content: "\e917";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path8:before {
	content: "\e918";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path9:before {
	content: "\e919";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path10:before {
	content: "\e91a";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path11:before {
	content: "\e91b";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path12:before {
	content: "\e91c";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path13:before {
	content: "\e91d";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path14:before {
	content: "\e91e";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path15:before {
	content: "\e91f";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path16:before {
	content: "\e920";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-trading .path17:before {
	content: "\e921";
	margin-left: -1.17578125em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path1:before {
	content: "\e922";
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path2:before {
	content: "\e923";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path3:before {
	content: "\e924";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path4:before {
	content: "\e925";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path5:before {
	content: "\e926";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path6:before {
	content: "\e927";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path7:before {
	content: "\e928";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path8:before {
	content: "\e929";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path9:before {
	content: "\e92a";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path10:before {
	content: "\e92b";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path11:before {
	content: "\e92c";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path12:before {
	content: "\e92d";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path13:before {
	content: "\e92e";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path14:before {
	content: "\e92f";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path15:before {
	content: "\e930";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path16:before {
	content: "\e931";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-trading .path17:before {
	content: "\e932";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path1:before {
	content: "\e933";
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path2:before {
	content: "\e934";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path3:before {
	content: "\e935";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path4:before {
	content: "\e936";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path5:before {
	content: "\e937";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path6:before {
	content: "\e938";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path7:before {
	content: "\e939";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path8:before {
	content: "\e93a";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path9:before {
	content: "\e93b";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path10:before {
	content: "\e93c";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path11:before {
	content: "\e93d";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path12:before {
	content: "\e93e";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path13:before {
	content: "\e93f";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path14:before {
	content: "\e940";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path15:before {
	content: "\e941";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path16:before {
	content: "\e942";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-trading .path17:before {
	content: "\e943";
	margin-left: -1.0361328125em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path1:before {
	content: "\e944";
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path2:before {
	content: "\e945";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path3:before {
	content: "\e946";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path4:before {
	content: "\e947";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path5:before {
	content: "\e948";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path6:before {
	content: "\e949";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path7:before {
	content: "\e94a";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path8:before {
	content: "\e94b";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path9:before {
	content: "\e94c";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path10:before {
	content: "\e94d";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path11:before {
	content: "\e94e";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path12:before {
	content: "\e94f";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path13:before {
	content: "\e950";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path14:before {
	content: "\e951";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path15:before {
	content: "\e952";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path16:before {
	content: "\e953";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-trading .path17:before {
	content: "\e954";
	margin-left: -1.1103515625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path1:before {
	content: "\e955";
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path2:before {
	content: "\e956";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path3:before {
	content: "\e957";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path4:before {
	content: "\e958";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path5:before {
	content: "\e959";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path6:before {
	content: "\e95a";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path7:before {
	content: "\e95b";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path8:before {
	content: "\e95c";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path9:before {
	content: "\e95d";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path10:before {
	content: "\e95e";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path11:before {
	content: "\e95f";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path12:before {
	content: "\e960";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path13:before {
	content: "\e961";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path14:before {
	content: "\e962";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path15:before {
	content: "\e963";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path16:before {
	content: "\e964";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-trading .path17:before {
	content: "\e965";
	margin-left: -1.2041015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path1:before {
	content: "\e966";
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path2:before {
	content: "\e967";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path3:before {
	content: "\e968";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path4:before {
	content: "\e969";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path5:before {
	content: "\e96a";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path6:before {
	content: "\e96b";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path7:before {
	content: "\e96c";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path8:before {
	content: "\e96d";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path9:before {
	content: "\e96e";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path10:before {
	content: "\e96f";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path11:before {
	content: "\e970";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path12:before {
	content: "\e971";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path13:before {
	content: "\e972";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path14:before {
	content: "\e973";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path15:before {
	content: "\e974";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path16:before {
	content: "\e975";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-trading .path17:before {
	content: "\e976";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path1:before {
	content: "\e977";
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path2:before {
	content: "\e978";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path3:before {
	content: "\e979";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path4:before {
	content: "\e97a";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path5:before {
	content: "\e97b";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path6:before {
	content: "\e97c";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path7:before {
	content: "\e97d";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path8:before {
	content: "\e97e";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path9:before {
	content: "\e97f";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path10:before {
	content: "\e980";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path11:before {
	content: "\e981";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path12:before {
	content: "\e982";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path13:before {
	content: "\e983";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path14:before {
	content: "\e984";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path15:before {
	content: "\e985";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path16:before {
	content: "\e986";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-trading .path17:before {
	content: "\e987";
	margin-left: -1.1796875em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path1:before {
	content: "\e988";
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path2:before {
	content: "\e989";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path3:before {
	content: "\e98a";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path4:before {
	content: "\e98b";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path5:before {
	content: "\e98c";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path6:before {
	content: "\e98d";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path7:before {
	content: "\e98e";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path8:before {
	content: "\e98f";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path9:before {
	content: "\e990";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path10:before {
	content: "\e991";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path11:before {
	content: "\e992";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path12:before {
	content: "\e993";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path13:before {
	content: "\e994";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path14:before {
	content: "\e995";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path15:before {
	content: "\e996";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path16:before {
	content: "\e997";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-trading .path17:before {
	content: "\e998";
	margin-left: -1.1416015625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-explorer .path1:before {
	content: "\e999";
	color: rgb(0, 0, 0);
}
.icon-rank-1-explorer .path2:before {
	content: "\e99a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-explorer .path1:before {
	content: "\e99b";
	color: rgb(0, 0, 0);
}
.icon-rank-2-explorer .path2:before {
	content: "\e99c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-explorer .path1:before {
	content: "\e99d";
	color: rgb(0, 0, 0);
}
.icon-rank-3-explorer .path2:before {
	content: "\e99e";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-explorer .path3:before {
	content: "\e99f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-explorer .path1:before {
	content: "\e9a0";
	color: rgb(0, 0, 0);
}
.icon-rank-4-explorer .path2:before {
	content: "\e9a1";
	margin-left: -1.0224609375em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-explorer .path3:before {
	content: "\e9a2";
	margin-left: -1.0224609375em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-explorer .path1:before {
	content: "\e9a3";
	color: rgb(0, 0, 0);
}
.icon-rank-5-explorer .path2:before {
	content: "\e9a4";
	margin-left: -1.134765625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-explorer .path3:before {
	content: "\e9a5";
	margin-left: -1.134765625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-explorer .path4:before {
	content: "\e9a6";
	margin-left: -1.134765625em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-explorer .path1:before {
	content: "\e9a7";
	color: rgb(0, 0, 0);
}
.icon-rank-6-explorer .path2:before {
	content: "\e9a8";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-explorer .path3:before {
	content: "\e9a9";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-explorer .path4:before {
	content: "\e9aa";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-explorer .path1:before {
	content: "\e9ab";
	color: rgb(0, 0, 0);
}
.icon-rank-7-explorer .path2:before {
	content: "\e9ac";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-explorer .path3:before {
	content: "\e9ad";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-explorer .path4:before {
	content: "\e9ae";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-explorer .path1:before {
	content: "\e9af";
	color: rgb(0, 0, 0);
}
.icon-rank-8-explorer .path2:before {
	content: "\e9b0";
	margin-left: -1.171875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-explorer .path3:before {
	content: "\e9b1";
	margin-left: -1.171875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-explorer .path4:before {
	content: "\e9b2";
	margin-left: -1.171875em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-explorer .path1:before {
	content: "\e9b3";
	color: rgb(0, 0, 0);
}
.icon-rank-9-explorer .path2:before {
	content: "\e9b4";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-explorer .path3:before {
	content: "\e9b5";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-explorer .path4:before {
	content: "\e9b6";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path1:before {
	content: "\e9b7";
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path2:before {
	content: "\e9b8";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path3:before {
	content: "\e9b9";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path4:before {
	content: "\e9ba";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path5:before {
	content: "\e9bb";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path6:before {
	content: "\e9bc";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1-combat .path7:before {
	content: "\e9bd";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path1:before {
	content: "\e9be";
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path2:before {
	content: "\e9bf";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path3:before {
	content: "\e9c0";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path4:before {
	content: "\e9c1";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path5:before {
	content: "\e9c2";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path6:before {
	content: "\e9c3";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-2-combat .path7:before {
	content: "\e9c4";
	margin-left: -1.744140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path1:before {
	content: "\e9c5";
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path2:before {
	content: "\e9c6";
	margin-left: -1.5185546875em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path3:before {
	content: "\e9c7";
	margin-left: -1.5185546875em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path4:before {
	content: "\e9c8";
	margin-left: -1.5185546875em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path5:before {
	content: "\e9c9";
	margin-left: -1.5185546875em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path6:before {
	content: "\e9ca";
	margin-left: -1.5185546875em;
	color: rgb(0, 0, 0);
}
.icon-rank-3-combat .path7:before {
	content: "\e9cb";
	margin-left: -1.5185546875em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path1:before {
	content: "\e9cc";
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path2:before {
	content: "\e9cd";
	margin-left: -1.306640625em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path3:before {
	content: "\e9ce";
	margin-left: -1.306640625em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path4:before {
	content: "\e9cf";
	margin-left: -1.306640625em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path5:before {
	content: "\e9d0";
	margin-left: -1.306640625em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path6:before {
	content: "\e9d1";
	margin-left: -1.306640625em;
	color: rgb(0, 0, 0);
}
.icon-rank-4-combat .path7:before {
	content: "\e9d2";
	margin-left: -1.306640625em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path1:before {
	content: "\e9d3";
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path2:before {
	content: "\e9d4";
	margin-left: -1.1982421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path3:before {
	content: "\e9d5";
	margin-left: -1.1982421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path4:before {
	content: "\e9d6";
	margin-left: -1.1982421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path5:before {
	content: "\e9d7";
	margin-left: -1.1982421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path6:before {
	content: "\e9d8";
	margin-left: -1.1982421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-5-combat .path7:before {
	content: "\e9d9";
	margin-left: -1.1982421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path1:before {
	content: "\e9da";
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path2:before {
	content: "\e9db";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path3:before {
	content: "\e9dc";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path4:before {
	content: "\e9dd";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path5:before {
	content: "\e9de";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path6:before {
	content: "\e9df";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-6-combat .path7:before {
	content: "\e9e0";
	margin-left: -1.2314453125em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path1:before {
	content: "\e9e1";
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path2:before {
	content: "\e9e2";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path3:before {
	content: "\e9e3";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path4:before {
	content: "\e9e4";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path5:before {
	content: "\e9e5";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path6:before {
	content: "\e9e6";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-7-combat .path7:before {
	content: "\e9e7";
	margin-left: -1.232421875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path1:before {
	content: "\e9e8";
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path2:before {
	content: "\e9e9";
	margin-left: -1.1748046875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path3:before {
	content: "\e9ea";
	margin-left: -1.1748046875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path4:before {
	content: "\e9eb";
	margin-left: -1.1748046875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path5:before {
	content: "\e9ec";
	margin-left: -1.1748046875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path6:before {
	content: "\e9ed";
	margin-left: -1.1748046875em;
	color: rgb(0, 0, 0);
}
.icon-rank-8-combat .path7:before {
	content: "\e9ee";
	margin-left: -1.1748046875em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path1:before {
	content: "\e9ef";
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path2:before {
	content: "\e9f0";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path3:before {
	content: "\e9f1";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path4:before {
	content: "\e9f2";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path5:before {
	content: "\e9f3";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path6:before {
	content: "\e9f4";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-9-combat .path7:before {
	content: "\e9f5";
	margin-left: -1.140625em;
	color: rgb(0, 0, 0);
}
.icon-rank-1:before {
	content: "\e9f6";
}
.icon-rank-2:before {
	content: "\e9f7";
}
.icon-rank-3:before {
	content: "\e9f8";
}
.icon-rank-4:before {
	content: "\e9f9";
}
.icon-rank-5:before {
	content: "\e9fa";
}
.icon-rank-6:before {
	content: "\e9fb";
}
.icon-rank-7:before {
	content: "\e9fc";
}
.icon-rank-8:before {
	content: "\e9fd";
}
.icon-rank-9:before {
	content: "\e9fe";
}

