$elite-rank-explorer-1: "\ea24";
$elite-rank-explorer-2: "\ea25";
$elite-rank-explorer-3: "\ea26";
$elite-rank-explorer-4: "\ea27";
$elite-rank-explorer-5: "\ea28";
$elite-rank-explorer-6: "\ea29";
$elite-rank-explorer-7: "\ea2a";
$elite-rank-explorer-8: "\ea2b";
$elite-rank-explorer-9: "\ea2c";
$elite-a_lavigny_duval: "\e900";
$elite-aisling_duval: "\e901";
$elite-alliance_no_ring: "\e902";
$elite-alliance: "\e903";
$elite-archon_delaine: "\e904";
$elite-assassin: "\e905";
$elite-bank_of_zaonce: "\e906";
$elite-base-assault-path1: "\e907";
$elite-base-assault-path2: "\e908";
$elite-base-assault-path3: "\e909";
$elite-base-assault-path4: "\e90a";
$elite-base-assault-path5: "\e90b";
$elite-base-assault-path6: "\e90c";
$elite-base-assault-path7: "\e90d";
$elite-basic: "\e90e";
$elite-charity: "\e90f";
$elite-combat_bonds-path1: "\e910";
$elite-combat_bonds-path2: "\e911";
$elite-combat_bonds-path3: "\e912";
$elite-combat_bonds-path4: "\e913";
$elite-combat_bonds-path5: "\e914";
$elite-combat_bonds-path6: "\e915";
$elite-combat_border: "\e916";
$elite-combat: "\e917";
$elite-common: "\e918";
$elite-coriolis_sm: "\e919";
$elite-coriolis: "\e91a";
$elite-courier-no-scan-path1: "\e91b";
$elite-courier-no-scan-path2: "\e91c";
$elite-courier-no-scan-path3: "\e91d";
$elite-courier-no-scan-path4: "\e91e";
$elite-courier-no-scan-path5: "\e91f";
$elite-courier-no-scan-path6: "\e920";
$elite-courier-no-scan-path7: "\e921";
$elite-courier-planet-path1: "\e922";
$elite-courier-planet-path2: "\e923";
$elite-courier-planet-path3: "\e924";
$elite-courier-planet-path4: "\e925";
$elite-courier-planet-path5: "\e926";
$elite-courier-timed-path1: "\e927";
$elite-courier-timed-path2: "\e928";
$elite-courier-timed-path3: "\e929";
$elite-courier-timed-path4: "\e92a";
$elite-courier-timed-path5: "\e92b";
$elite-courier-path1: "\e92c";
$elite-courier-path2: "\e92d";
$elite-courier-path3: "\e92e";
$elite-courier-path4: "\e92f";
$elite-covert_border: "\e930";
$elite-covert: "\e931";
$elite-cqc-championship: "\e932";
$elite-data-delivery-path1: "\e933";
$elite-data-delivery-path2: "\e934";
$elite-delivery-pirate-path1: "\e935";
$elite-delivery-pirate-path2: "\e936";
$elite-delivery-pirate-path3: "\e937";
$elite-delivery-pirate-path4: "\e938";
$elite-delivery-pirate-path5: "\e939";
$elite-delivery-pirate-path6: "\e93a";
$elite-delivery-pirate-path7: "\e93b";
$elite-delivery-pirate-path8: "\e93c";
$elite-delivery-pirate-path9: "\e93d";
$elite-delivery-pirate-path10: "\e93e";
$elite-delivery-pirate-path11: "\e93f";
$elite-delivery-planet-path1: "\e940";
$elite-delivery-planet-path2: "\e941";
$elite-delivery-planet-path3: "\e942";
$elite-delivery-planet-path4: "\e943";
$elite-delivery-smuggle-path1: "\e944";
$elite-delivery-smuggle-path2: "\e945";
$elite-delivery-smuggle-path3: "\e946";
$elite-delivery-smuggle-path4: "\e947";
$elite-delivery-smuggle-path5: "\e948";
$elite-delivery-smuggle-path6: "\e949";
$elite-delivery-smuggle-path7: "\e94a";
$elite-delivery-smuggle-path8: "\e94b";
$elite-delivery-smuggle-path9: "\e94c";
$elite-delivery-smuggle-path10: "\e94d";
$elite-delivery-smuggle-path11: "\e94e";
$elite-delivery-smuggle-path12: "\e94f";
$elite-delivery-path1: "\e950";
$elite-delivery-path2: "\e951";
$elite-delivery-path3: "\e952";
$elite-denton_patreus: "\e953";
$elite-edloader1-path1: "\e954";
$elite-edloader1-path2: "\e955";
$elite-edloader1-path3: "\e956";
$elite-edloader1-path4: "\e957";
$elite-edloader1-path5: "\e958";
$elite-edloader1-path6: "\e959";
$elite-edloader1-path7: "\e95a";
$elite-edloader1-path8: "\e95b";
$elite-edloader1-path9: "\e95c";
$elite-edloader1-path10: "\e95d";
$elite-edloader1-path11: "\e95e";
$elite-edloader1-path12: "\e95f";
$elite-edloader1-path13: "\e960";
$elite-edloader1-path14: "\e961";
$elite-edloader1-path15: "\e962";
$elite-edloader1-path16: "\e963";
$elite-edloader1-path17: "\e964";
$elite-edloader1-path18: "\e965";
$elite-edloader1-path19: "\e966";
$elite-edloader1-path20: "\e967";
$elite-edloader1-path21: "\e968";
$elite-edloader1-path22: "\e969";
$elite-edloader1-path23: "\e96a";
$elite-edloader1-path24: "\e96b";
$elite-edmund_mahon: "\e96c";
$elite-elite-dangerous-clean: "\e96d";
$elite-empire: "\e96e";
$elite-enemy-flag: "\e96f";
$elite-expanding: "\e970";
$elite-federation: "\e971";
$elite-felicia_winters: "\e972";
$elite-finance_border: "\e973";
$elite-finance: "\e974";
$elite-flag-hologram: "\e975";
$elite-fortifying-path1: "\e976";
$elite-fortifying-path2: "\e977";
$elite-founder1: "\e978";
$elite-founder2: "\e979";
$elite-friendly-base: "\e97a";
$elite-friendly-escort: "\e97b";
$elite-friends-galaxy-map: "\e97c";
$elite-galnet: "\e97d";
$elite-hauling-path1: "\e97e";
$elite-hauling-path2: "\e97f";
$elite-hauling-path3: "\e980";
$elite-hauling-path4: "\e981";
$elite-hauling-path5: "\e982";
$elite-hauling-path6: "\e983";
$elite-hauling-path7: "\e984";
$elite-hauling-path8: "\e985";
$elite-li_yong_rui: "\e986";
$elite-manticore: "\e987";
$elite-map-galaxy-map: "\e988";
$elite-marker-galaxy-map: "\e989";
$elite-material: "\e98a";
$elite-mercenary-path1: "\e98b";
$elite-mercenary-path2: "\e98c";
$elite-mercenary-path3: "\e98d";
$elite-mercenary-path4: "\e98e";
$elite-mercenary-path5: "\e98f";
$elite-mercenary-path6: "\e990";
$elite-mercenary-path7: "\e991";
$elite-mercenary-path8: "\e992";
$elite-mercenary-path9: "\e993";
$elite-mercenary-path10: "\e994";
$elite-mercenary-path11: "\e995";
$elite-mercenary-path12: "\e996";
$elite-mercenary-path13: "\e997";
$elite-mercenary-path14: "\e998";
$elite-mining-path1: "\e999";
$elite-mining-path2: "\e99a";
$elite-mining-path3: "\e99b";
$elite-newdiscovery: "\e99c";
$elite-newmaterial: "\e99d";
$elite-objective: "\e99e";
$elite-ocellus_sm: "\e99f";
$elite-ocellus: "\e9a0";
$elite-orbis_sm: "\e9a1";
$elite-orbis: "\e9a2";
$elite-outpost_sm: "\e9a3";
$elite-outpost: "\e9a4";
$elite-pirate-timed-path1: "\e9a5";
$elite-pirate-timed-path2: "\e9a6";
$elite-pirate-timed-path3: "\e9a7";
$elite-pirate-timed-path4: "\e9a8";
$elite-pirate-timed-path5: "\e9a9";
$elite-pirate: "\e9aa";
$elite-planet1: "\e9ab";
$elite-planet2: "\e9ac";
$elite-planetary-data-unknown-mission-path1: "\e9ad";
$elite-planetary-data-unknown-mission-path2: "\e9ae";
$elite-planetary-data-unknown-mission-path3: "\e9af";
$elite-planetary-data-unknown-mission-path4: "\e9b0";
$elite-planetary-data-unknown-mission-path5: "\e9b1";
$elite-planetary-data-unknown-mission-path6: "\e9b2";
$elite-planetary-data-unknown-mission-path7: "\e9b3";
$elite-planetary-data-unknown-mission-path8: "\e9b4";
$elite-planetary-data-unknown-mission-path9: "\e9b5";
$elite-planetary-data-unknown-mission-path10: "\e9b6";
$elite-planetary-data-unknown-mission-path11: "\e9b7";
$elite-planetary-data-unknown-mission-path12: "\e9b8";
$elite-planetary-data-unknown-mission-path13: "\e9b9";
$elite-planetary-data-unknown-mission-path14: "\e9ba";
$elite-planetary-data-unknown-mission-path15: "\e9bb";
$elite-planetary-data-unknown-mission-path16: "\e9bc";
$elite-powerplay-galaxy-map: "\e9bd";
$elite-pranav_antal: "\e9be";
$elite-premium: "\e9bf";
$elite-rank-1-combat: "\e9c0";
$elite-rank-1-cqc: "\e9c1";
$elite-rank-1-trading: "\e9c2";
$elite-rank-1: "\e9c3";
$elite-rank-2-combat: "\e9c4";
$elite-rank-2-cqc: "\e9c5";
$elite-rank-2-trading: "\e9c6";
$elite-rank-2: "\e9c7";
$elite-rank-3-combat: "\e9c8";
$elite-rank-3-cqc: "\e9c9";
$elite-rank-3-trading: "\e9ca";
$elite-rank-3: "\e9cb";
$elite-rank-4-combat: "\e9cc";
$elite-rank-4-cqc: "\e9cd";
$elite-rank-4-trading: "\e9ce";
$elite-rank-4: "\e9cf";
$elite-rank-5-combat: "\e9d0";
$elite-rank-5-cqc: "\e9d1";
$elite-rank-5-trading: "\e9d2";
$elite-rank-5: "\e9d3";
$elite-rank-6-combat: "\e9d4";
$elite-rank-6-cqc: "\e9d5";
$elite-rank-6-trading: "\e9d6";
$elite-rank-6: "\e9d7";
$elite-rank-7-combat: "\e9d8";
$elite-rank-7-cqc: "\e9d9";
$elite-rank-7-trading: "\e9da";
$elite-rank-7: "\e9db";
$elite-rank-8-combat: "\e9dc";
$elite-rank-8-cqc: "\e9dd";
$elite-rank-8-trading: "\e9de";
$elite-rank-8: "\e9df";
$elite-rank-9-combat: "\e9e0";
$elite-rank-9-cqc: "\e9e1";
$elite-rank-9-trading: "\e9e2";
$elite-rank-9: "\e9e3";
$elite-rare: "\e9e4";
$elite-realistic-galaxy-map: "\e9e5";
$elite-remlok: "\e9e6";
$elite-rescue-mission-path1: "\e9e7";
$elite-rescue-mission-path2: "\e9e8";
$elite-selection-galaxy-map: "\e9e9";
$elite-settlement_pm-path1: "\e9ea";
$elite-settlement_pm-path2: "\e9eb";
$elite-settlement_pm-path3: "\e9ec";
$elite-settlement_pm-path4: "\e9ed";
$elite-settlement_sm: "\e9ee";
$elite-shield: "\e9ef";
$elite-skimmer-hunt-path1: "\e9f0";
$elite-skimmer-hunt-path2: "\e9f1";
$elite-skimmer-hunt-path3: "\e9f2";
$elite-skimmer-hunt-path4: "\e9f3";
$elite-skimmer-hunt-path5: "\e9f4";
$elite-skimmer-hunt-path6: "\e9f5";
$elite-skimmer-hunt-path7: "\e9f6";
$elite-skimmer-hunt-path8: "\e9f7";
$elite-skimmer-hunt-path9: "\e9f8";
$elite-skimmer-hunt-path10: "\e9f9";
$elite-skimmer-hunt-path11: "\e9fa";
$elite-skimmer-hunt-path12: "\e9fb";
$elite-skimmer-hunt-path13: "\e9fc";
$elite-skimmer-hunt-path14: "\e9fd";
$elite-skimmer-hunt-path15: "\e9fe";
$elite-skimmer-hunt-path16: "\e9ff";
$elite-skimmer-hunt-path17: "\ea00";
$elite-skimmer-hunt-path18: "\ea01";
$elite-skimmer-hunt-path19: "\ea02";
$elite-skimmer-hunt-path20: "\ea03";
$elite-skimmer-hunt-path21: "\ea04";
$elite-skimmer-hunt-path22: "\ea05";
$elite-skimmer-hunt-path23: "\ea06";
$elite-skimmer-hunt-path24: "\ea07";
$elite-social_border: "\ea08";
$elite-social: "\ea09";
$elite-speed-path1: "\ea0a";
$elite-speed-path2: "\ea0b";
$elite-speed-path3: "\ea0c";
$elite-speed-path4: "\ea0d";
$elite-speed-path5: "\ea0e";
$elite-speed-path6: "\ea0f";
$elite-speed-path7: "\ea10";
$elite-standard: "\ea11";
$elite-stealth: "\ea12";
$elite-surface_port_pm: "\ea13";
$elite-surface_port_sm: "\ea14";
$elite-timed-assassin-path1: "\ea15";
$elite-timed-assassin-path2: "\ea16";
$elite-timed-assassin-path3: "\ea17";
$elite-timed-assassin-path4: "\ea18";
$elite-timed-assassin-path5: "\ea19";
$elite-timed-assassin-path6: "\ea1a";
$elite-under_threat: "\ea1b";
$elite-universal-cartographics: "\ea1c";
$elite-unknown-mission: "\ea1d";
$elite-very-common: "\ea1e";
$elite-very-rare: "\ea1f";
$elite-weapons: "\ea20";
$elite-wings-galaxy-map: "\ea21";
$elite-zachary_hudson: "\ea22";
$elite-zemina_torval: "\ea23";
