$elite-ALavignyDuval: "\e900";
$elite-AislingDuval: "\e901";
$elite-Alliance_no_ring: "\e902";
$elite-Alliance: "\e903";
$elite-ArchonDelaine: "\e904";
$elite-BankofZaonce: "\e905";
$elite-CombatBonds-path1: "\e906";
$elite-CombatBonds-path2: "\e907";
$elite-CombatBonds-path3: "\e908";
$elite-CombatBonds-path4: "\e909";
$elite-CombatBonds-path5: "\e90a";
$elite-CombatBonds-path6: "\e90b";
$elite-Combat_border: "\e90c";
$elite-Combat: "\e90d";
$elite-Coriolis_sm: "\e90e";
$elite-Coriolis: "\e90f";
$elite-Covert_border: "\e910";
$elite-Covert: "\e911";
$elite-CQC-Championship: "\e912";
$elite-DentonPatreus: "\e913";
$elite-EdmundMahon: "\e914";
$elite-elite-dangerous-clean: "\e915";
$elite-Empire: "\e916";
$elite-Enemy-flag: "\e917";
$elite-Expanding: "\e918";
$elite-Federation: "\e919";
$elite-FeliciaWinters: "\e91a";
$elite-Finance_border: "\e91b";
$elite-Finance: "\e91c";
$elite-Flag-hologram: "\e91d";
$elite-Fortifying-path1: "\e91e";
$elite-Fortifying-path2: "\e91f";
$elite-Founder1: "\e920";
$elite-Founder2: "\e921";
$elite-Friendly-base: "\e922";
$elite-Friendly-escort: "\e923";
$elite-Friends-galaxy-map: "\e924";
$elite-GalNet: "\e925";
$elite-LiYongRui: "\e926";
$elite-Manticore: "\e927";
$elite-Map-galaxy-map: "\e928";
$elite-Marker-galaxy-map: "\e929";
$elite-Objective: "\e92a";
$elite-Ocellus_sm: "\e92b";
$elite-Ocellus: "\e92c";
$elite-Orbis_sm: "\e92d";
$elite-Orbis: "\e92e";
$elite-Outpost_sm: "\e92f";
$elite-Outpost: "\e930";
$elite-Planet1: "\e931";
$elite-Planet2: "\e932";
$elite-Powerplay-galaxy-map: "\e933";
$elite-PranavAntal: "\e934";
$elite-rank-1-combat: "\e935";
$elite-rank-1-cqc: "\e936";
$elite-rank-1-trading: "\e937";
$elite-rank-1: "\e938";
$elite-rank-2-combat: "\e939";
$elite-rank-2-cqc: "\e93a";
$elite-rank-2-trading: "\e93b";
$elite-rank-2: "\e93c";
$elite-rank-3-combat: "\e93d";
$elite-rank-3-cqc: "\e93e";
$elite-rank-3-trading: "\e93f";
$elite-rank-3: "\e940";
$elite-rank-4-combat: "\e941";
$elite-rank-4-cqc: "\e942";
$elite-rank-4-trading: "\e943";
$elite-rank-4: "\e944";
$elite-rank-5-combat: "\e945";
$elite-rank-5-cqc: "\e946";
$elite-rank-5-trading: "\e947";
$elite-rank-5: "\e948";
$elite-rank-6-combat: "\e949";
$elite-rank-6-cqc: "\e94a";
$elite-rank-6-trading: "\e94b";
$elite-rank-6: "\e94c";
$elite-rank-7-combat: "\e94d";
$elite-rank-7-cqc: "\e94e";
$elite-rank-7-trading: "\e94f";
$elite-rank-7: "\e950";
$elite-rank-8-combat: "\e951";
$elite-rank-8-cqc: "\e952";
$elite-rank-8-trading: "\e953";
$elite-rank-8: "\e954";
$elite-rank-9-combat: "\e955";
$elite-rank-9-cqc: "\e956";
$elite-rank-9-trading: "\e957";
$elite-rank-9: "\e958";
$elite-Realistic-galaxy-map: "\e959";
$elite-remlok: "\e95a";
$elite-Selection-galaxy-map: "\e95b";
$elite-Shield: "\e95c";
$elite-Social_border: "\e95d";
$elite-Social: "\e95e";
$elite-Speed-path1: "\e95f";
$elite-Speed-path2: "\e960";
$elite-Speed-path3: "\e961";
$elite-Speed-path4: "\e962";
$elite-Speed-path5: "\e963";
$elite-Speed-path6: "\e964";
$elite-Speed-path7: "\e965";
$elite-Stealth: "\e966";
$elite-Underthreat: "\e967";
$elite-Universal-Cartographics: "\e968";
$elite-Weapons: "\e969";
$elite-Wings-galaxy-map: "\e96a";
$elite-ZacharyHudson: "\e96b";
$elite-ZeminaTorval: "\e96c";
