$icon-rank-1-trading-path1: "\e900";
$icon-rank-1-trading-path2: "\e901";
$icon-rank-1-trading-path3: "\e902";
$icon-rank-1-trading-path4: "\e903";
$icon-rank-1-trading-path5: "\e904";
$icon-rank-1-trading-path6: "\e905";
$icon-rank-1-trading-path7: "\e906";
$icon-rank-1-trading-path8: "\e907";
$icon-rank-1-trading-path9: "\e908";
$icon-rank-1-trading-path10: "\e909";
$icon-rank-1-trading-path11: "\e90a";
$icon-rank-1-trading-path12: "\e90b";
$icon-rank-1-trading-path13: "\e90c";
$icon-rank-1-trading-path14: "\e90d";
$icon-rank-1-trading-path15: "\e90e";
$icon-rank-1-trading-path16: "\e90f";
$icon-rank-1-trading-path17: "\e910";
$icon-rank-2-trading-path1: "\e911";
$icon-rank-2-trading-path2: "\e912";
$icon-rank-2-trading-path3: "\e913";
$icon-rank-2-trading-path4: "\e914";
$icon-rank-2-trading-path5: "\e915";
$icon-rank-2-trading-path6: "\e916";
$icon-rank-2-trading-path7: "\e917";
$icon-rank-2-trading-path8: "\e918";
$icon-rank-2-trading-path9: "\e919";
$icon-rank-2-trading-path10: "\e91a";
$icon-rank-2-trading-path11: "\e91b";
$icon-rank-2-trading-path12: "\e91c";
$icon-rank-2-trading-path13: "\e91d";
$icon-rank-2-trading-path14: "\e91e";
$icon-rank-2-trading-path15: "\e91f";
$icon-rank-2-trading-path16: "\e920";
$icon-rank-2-trading-path17: "\e921";
$icon-rank-3-trading-path1: "\e922";
$icon-rank-3-trading-path2: "\e923";
$icon-rank-3-trading-path3: "\e924";
$icon-rank-3-trading-path4: "\e925";
$icon-rank-3-trading-path5: "\e926";
$icon-rank-3-trading-path6: "\e927";
$icon-rank-3-trading-path7: "\e928";
$icon-rank-3-trading-path8: "\e929";
$icon-rank-3-trading-path9: "\e92a";
$icon-rank-3-trading-path10: "\e92b";
$icon-rank-3-trading-path11: "\e92c";
$icon-rank-3-trading-path12: "\e92d";
$icon-rank-3-trading-path13: "\e92e";
$icon-rank-3-trading-path14: "\e92f";
$icon-rank-3-trading-path15: "\e930";
$icon-rank-3-trading-path16: "\e931";
$icon-rank-3-trading-path17: "\e932";
$icon-rank-4-trading-path1: "\e933";
$icon-rank-4-trading-path2: "\e934";
$icon-rank-4-trading-path3: "\e935";
$icon-rank-4-trading-path4: "\e936";
$icon-rank-4-trading-path5: "\e937";
$icon-rank-4-trading-path6: "\e938";
$icon-rank-4-trading-path7: "\e939";
$icon-rank-4-trading-path8: "\e93a";
$icon-rank-4-trading-path9: "\e93b";
$icon-rank-4-trading-path10: "\e93c";
$icon-rank-4-trading-path11: "\e93d";
$icon-rank-4-trading-path12: "\e93e";
$icon-rank-4-trading-path13: "\e93f";
$icon-rank-4-trading-path14: "\e940";
$icon-rank-4-trading-path15: "\e941";
$icon-rank-4-trading-path16: "\e942";
$icon-rank-4-trading-path17: "\e943";
$icon-rank-5-trading-path1: "\e944";
$icon-rank-5-trading-path2: "\e945";
$icon-rank-5-trading-path3: "\e946";
$icon-rank-5-trading-path4: "\e947";
$icon-rank-5-trading-path5: "\e948";
$icon-rank-5-trading-path6: "\e949";
$icon-rank-5-trading-path7: "\e94a";
$icon-rank-5-trading-path8: "\e94b";
$icon-rank-5-trading-path9: "\e94c";
$icon-rank-5-trading-path10: "\e94d";
$icon-rank-5-trading-path11: "\e94e";
$icon-rank-5-trading-path12: "\e94f";
$icon-rank-5-trading-path13: "\e950";
$icon-rank-5-trading-path14: "\e951";
$icon-rank-5-trading-path15: "\e952";
$icon-rank-5-trading-path16: "\e953";
$icon-rank-5-trading-path17: "\e954";
$icon-rank-6-trading-path1: "\e955";
$icon-rank-6-trading-path2: "\e956";
$icon-rank-6-trading-path3: "\e957";
$icon-rank-6-trading-path4: "\e958";
$icon-rank-6-trading-path5: "\e959";
$icon-rank-6-trading-path6: "\e95a";
$icon-rank-6-trading-path7: "\e95b";
$icon-rank-6-trading-path8: "\e95c";
$icon-rank-6-trading-path9: "\e95d";
$icon-rank-6-trading-path10: "\e95e";
$icon-rank-6-trading-path11: "\e95f";
$icon-rank-6-trading-path12: "\e960";
$icon-rank-6-trading-path13: "\e961";
$icon-rank-6-trading-path14: "\e962";
$icon-rank-6-trading-path15: "\e963";
$icon-rank-6-trading-path16: "\e964";
$icon-rank-6-trading-path17: "\e965";
$icon-rank-7-trading-path1: "\e966";
$icon-rank-7-trading-path2: "\e967";
$icon-rank-7-trading-path3: "\e968";
$icon-rank-7-trading-path4: "\e969";
$icon-rank-7-trading-path5: "\e96a";
$icon-rank-7-trading-path6: "\e96b";
$icon-rank-7-trading-path7: "\e96c";
$icon-rank-7-trading-path8: "\e96d";
$icon-rank-7-trading-path9: "\e96e";
$icon-rank-7-trading-path10: "\e96f";
$icon-rank-7-trading-path11: "\e970";
$icon-rank-7-trading-path12: "\e971";
$icon-rank-7-trading-path13: "\e972";
$icon-rank-7-trading-path14: "\e973";
$icon-rank-7-trading-path15: "\e974";
$icon-rank-7-trading-path16: "\e975";
$icon-rank-7-trading-path17: "\e976";
$icon-rank-8-trading-path1: "\e977";
$icon-rank-8-trading-path2: "\e978";
$icon-rank-8-trading-path3: "\e979";
$icon-rank-8-trading-path4: "\e97a";
$icon-rank-8-trading-path5: "\e97b";
$icon-rank-8-trading-path6: "\e97c";
$icon-rank-8-trading-path7: "\e97d";
$icon-rank-8-trading-path8: "\e97e";
$icon-rank-8-trading-path9: "\e97f";
$icon-rank-8-trading-path10: "\e980";
$icon-rank-8-trading-path11: "\e981";
$icon-rank-8-trading-path12: "\e982";
$icon-rank-8-trading-path13: "\e983";
$icon-rank-8-trading-path14: "\e984";
$icon-rank-8-trading-path15: "\e985";
$icon-rank-8-trading-path16: "\e986";
$icon-rank-8-trading-path17: "\e987";
$icon-rank-9-trading-path1: "\e988";
$icon-rank-9-trading-path2: "\e989";
$icon-rank-9-trading-path3: "\e98a";
$icon-rank-9-trading-path4: "\e98b";
$icon-rank-9-trading-path5: "\e98c";
$icon-rank-9-trading-path6: "\e98d";
$icon-rank-9-trading-path7: "\e98e";
$icon-rank-9-trading-path8: "\e98f";
$icon-rank-9-trading-path9: "\e990";
$icon-rank-9-trading-path10: "\e991";
$icon-rank-9-trading-path11: "\e992";
$icon-rank-9-trading-path12: "\e993";
$icon-rank-9-trading-path13: "\e994";
$icon-rank-9-trading-path14: "\e995";
$icon-rank-9-trading-path15: "\e996";
$icon-rank-9-trading-path16: "\e997";
$icon-rank-9-trading-path17: "\e998";
$icon-rank-1-explorer-path1: "\e999";
$icon-rank-1-explorer-path2: "\e99a";
$icon-rank-2-explorer-path1: "\e99b";
$icon-rank-2-explorer-path2: "\e99c";
$icon-rank-3-explorer-path1: "\e99d";
$icon-rank-3-explorer-path2: "\e99e";
$icon-rank-3-explorer-path3: "\e99f";
$icon-rank-4-explorer-path1: "\e9a0";
$icon-rank-4-explorer-path2: "\e9a1";
$icon-rank-4-explorer-path3: "\e9a2";
$icon-rank-5-explorer-path1: "\e9a3";
$icon-rank-5-explorer-path2: "\e9a4";
$icon-rank-5-explorer-path3: "\e9a5";
$icon-rank-5-explorer-path4: "\e9a6";
$icon-rank-6-explorer-path1: "\e9a7";
$icon-rank-6-explorer-path2: "\e9a8";
$icon-rank-6-explorer-path3: "\e9a9";
$icon-rank-6-explorer-path4: "\e9aa";
$icon-rank-7-explorer-path1: "\e9ab";
$icon-rank-7-explorer-path2: "\e9ac";
$icon-rank-7-explorer-path3: "\e9ad";
$icon-rank-7-explorer-path4: "\e9ae";
$icon-rank-8-explorer-path1: "\e9af";
$icon-rank-8-explorer-path2: "\e9b0";
$icon-rank-8-explorer-path3: "\e9b1";
$icon-rank-8-explorer-path4: "\e9b2";
$icon-rank-9-explorer-path1: "\e9b3";
$icon-rank-9-explorer-path2: "\e9b4";
$icon-rank-9-explorer-path3: "\e9b5";
$icon-rank-9-explorer-path4: "\e9b6";
$icon-rank-1-combat-path1: "\e9b7";
$icon-rank-1-combat-path2: "\e9b8";
$icon-rank-1-combat-path3: "\e9b9";
$icon-rank-1-combat-path4: "\e9ba";
$icon-rank-1-combat-path5: "\e9bb";
$icon-rank-1-combat-path6: "\e9bc";
$icon-rank-1-combat-path7: "\e9bd";
$icon-rank-2-combat-path1: "\e9be";
$icon-rank-2-combat-path2: "\e9bf";
$icon-rank-2-combat-path3: "\e9c0";
$icon-rank-2-combat-path4: "\e9c1";
$icon-rank-2-combat-path5: "\e9c2";
$icon-rank-2-combat-path6: "\e9c3";
$icon-rank-2-combat-path7: "\e9c4";
$icon-rank-3-combat-path1: "\e9c5";
$icon-rank-3-combat-path2: "\e9c6";
$icon-rank-3-combat-path3: "\e9c7";
$icon-rank-3-combat-path4: "\e9c8";
$icon-rank-3-combat-path5: "\e9c9";
$icon-rank-3-combat-path6: "\e9ca";
$icon-rank-3-combat-path7: "\e9cb";
$icon-rank-4-combat-path1: "\e9cc";
$icon-rank-4-combat-path2: "\e9cd";
$icon-rank-4-combat-path3: "\e9ce";
$icon-rank-4-combat-path4: "\e9cf";
$icon-rank-4-combat-path5: "\e9d0";
$icon-rank-4-combat-path6: "\e9d1";
$icon-rank-4-combat-path7: "\e9d2";
$icon-rank-5-combat-path1: "\e9d3";
$icon-rank-5-combat-path2: "\e9d4";
$icon-rank-5-combat-path3: "\e9d5";
$icon-rank-5-combat-path4: "\e9d6";
$icon-rank-5-combat-path5: "\e9d7";
$icon-rank-5-combat-path6: "\e9d8";
$icon-rank-5-combat-path7: "\e9d9";
$icon-rank-6-combat-path1: "\e9da";
$icon-rank-6-combat-path2: "\e9db";
$icon-rank-6-combat-path3: "\e9dc";
$icon-rank-6-combat-path4: "\e9dd";
$icon-rank-6-combat-path5: "\e9de";
$icon-rank-6-combat-path6: "\e9df";
$icon-rank-6-combat-path7: "\e9e0";
$icon-rank-7-combat-path1: "\e9e1";
$icon-rank-7-combat-path2: "\e9e2";
$icon-rank-7-combat-path3: "\e9e3";
$icon-rank-7-combat-path4: "\e9e4";
$icon-rank-7-combat-path5: "\e9e5";
$icon-rank-7-combat-path6: "\e9e6";
$icon-rank-7-combat-path7: "\e9e7";
$icon-rank-8-combat-path1: "\e9e8";
$icon-rank-8-combat-path2: "\e9e9";
$icon-rank-8-combat-path3: "\e9ea";
$icon-rank-8-combat-path4: "\e9eb";
$icon-rank-8-combat-path5: "\e9ec";
$icon-rank-8-combat-path6: "\e9ed";
$icon-rank-8-combat-path7: "\e9ee";
$icon-rank-9-combat-path1: "\e9ef";
$icon-rank-9-combat-path2: "\e9f0";
$icon-rank-9-combat-path3: "\e9f1";
$icon-rank-9-combat-path4: "\e9f2";
$icon-rank-9-combat-path5: "\e9f3";
$icon-rank-9-combat-path6: "\e9f4";
$icon-rank-9-combat-path7: "\e9f5";
$icon-rank-1: "\e9f6";
$icon-rank-2: "\e9f7";
$icon-rank-3: "\e9f8";
$icon-rank-4: "\e9f9";
$icon-rank-5: "\e9fa";
$icon-rank-6: "\e9fb";
$icon-rank-7: "\e9fc";
$icon-rank-8: "\e9fd";
$icon-rank-9: "\e9fe";
