language: node_js
node_js:
  - "8"
dist: trusty
sudo: false
branches:
  only:
  - master

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: dist/
  committer-from-gh: true
  on:
    branch: master
