<div class="content-header">
    <h2 class="center-text" ng-if="issubcat"><a class="clearlink" ui-sref="type({file:issubcat.file})">{{ issubcat.name }}</a> / {{ category }}</h2>
    <h2 class="center-text" ng-if="!issubcat">{{ category }}</h2>
</div>
<div class="types" ng-repeat="subcat in subcats | orderBy:'name'" >
    <div class="subcat"></div>
    <div class="subcat"></div>
    <list-types item="subcat"></list-types>
</div>
<div class="types" ng-repeat="typeAsset in typeAssets | orderBy:'name'" >
    <type-asset item="typeAsset"></type-asset>
</div>